body{
    background-color: #000;
}

h1{
    color:red;
}

h2{
    color: yellow;
}

a{
    color: orange;
    font-size: 20px;
}


p{
    color: white;
    font-size: 20px;
}

label{
    color: yellowgreen;
     font-size: 20px;
}

ul{
    color: yellowgreen;
    font-size: 20px;  
}

#container{
    padding: 50px;
    background-color: #FFF;
}
